.ui.borderless.topmenu.container.menu {
  border: none;
  box-shadow: none;
}

.middle-background {
  background: url("http://courses.ics.hawaii.edu/ics314f20/morea/ui-frameworks/murphys-front.jpg") center fixed;
  height: 500px;
  color: white;
}

.size-class {
  padding-top: 100px;
}

.size-class2 {
  padding-top: 170px;
  font-size: 18px;
}

.footer-background {
  background-color: #004030;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;

}